// Specific CSS for your home-page

.content {

  padding: 20px;

  .pokemon-logo {
  height: 25vh;
  width: 50vh;
  margin: 1em;
  }

  .italic {
    color: white;
    text-align: center;
    font-size: 3em;
    font-style: italic;
    opacity: 0.8;
  }
}
