body {
  background-image: linear-gradient(to bottom, rgba(200,200,200,0.1),rgba(200,200,200,0.1)), url(pokeballz.png);
  background-size: auto;
}

.cards-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cust-card {
  margin: 15px auto;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  background-color: white;

  &:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }

  a {
    text-decoration: none;
  }

  .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  background-size: contain;
  margin: 0 auto;
  background-position: center;
  height: 80%;
  background-repeat: no-repeat;
  }

  .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  }

  .title-black {
  color: black;
  }

  p {
    font-weight:lighter;
    font-size: 26px;
    letter-spacing: .1em;
  }
}

#pokedex {
  text-align: center;
  margin-top: 0.7em;
}

.pagination {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-around;
}


