<div class="bg">
  <div class="banner">

    <%= image_tag "pokemon_logo.png", alt: "alttext", class: "pokemon-logo center"%>

    <div class="content">
      <p class="normal">Are you ready to</p>
      <p class="italic">catch 'em all?</p>
    </div>

    <div class="button-container flexbox">
        <% path = current_user ? user_path(current_user) : new_user_session_path %>
        <%= link_to "Absolutely!", path, class: "cus-btn btn-1"  %>

        <%= link_to "What is Pokemon?", "https://www.livemint.com/Sundayapp/Z7zHxltyWtFNzcoXPZAbjI/A-brief-history-of-Pokmon.html", :target => "_blank", class: "cus-btn btn-1"  %>

    </div>

   </div>
 </div>
