<div class="bg">
  <div class="banner">

    <%= image_tag "pokemon_logo.png", alt: "alttext", class: "pokemon-logo center"%>

    <div class="content">
      <p class="normal">Are you ready to</p>
      <p class="italic">catch 'em all?</p>
    </div>

    <div class="button-container flexbox">
      <div class="cus-btn btn-1">
        Absolutely!
      </div>

      <div class="cus-btn btn-1">
        No
      </div>
    </div>

   </div>
 </div>
