
.cus-btn {
  border: none;
  cursor: pointer;
  padding: 25px 100px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;

}

.btn-1 {
  margin: 15px auto;
  align-items: center;
  width: 40%;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 1px 3px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 40px;

  &:hover {
    background-color: #ab3c3c;
    transition: 0.2s;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
  }
}


