// Align items property added

.card-product {
  overflow: hidden;
  height: 120px;
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 20px;
}


.card-product img {
  height: 60%;
  width: 80px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 5px;
}

// Added a class for badges/////////
// added margin to p elements
.card-product-badges {
  display: flex;
  padding-left: 30px;
  justify-content: left;
  p {
    margin: 10px;
  }
}


.user-show-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.user-show-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.user-show-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.user-show-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.user-show-product .user-show-product-infos {
  padding: 16px;
}
