// This partial scss created by Aziz for index page manipualtion.

.sort_by {
  width: 350px;
  display: flex;
  vertical-align: center;
  justify-content: space-between;
  margin-left: 100px;
}

.division_ranks {
  margin: 15px;
}

.whole-product {
  display: flex;
}
// Took out background color white

.warrior-name {
  justify-content: center;
  align-items: center;
  text-align: -webkit-center;
}

.warrior-name a {
  font-size: 1.1em;
  margin-top: 0px !important;
  text-align: center;
  display: block;
  margin-right: 0;
  margin-top: 15px;
  width: 150px;
  text-decoration: none;
  color: black;
}

.pokemon-prop {
  display: block;
}

.fuck-you {
  text-decoration: none;
  color: black;
}

.header-index {
  margin: 30px;
}

.pokemon-box-width {
  width: 100px;
}

#text-deco {
  color: black;
}
