// This partial scss created by Aziz for index page manipualtion.

.sort_by {
  width: 350px;
  display: flex;
  vertical-align: center;
  justify-content: space-between;
  margin-left: 100px;
}

.division_ranks {
  margin: 15px;
}

.whole-product {
  display: flex;
}
// Took out background color white

.warrior-name {
  margin-right: 0;
  margin-top: 15px;
  width: 100px;
}

.pokemon-prop {
  display: block;
}
