.navbar-lewagon {
  justify-content: space-between;
  background: #E92D38;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarDropdown {
  height: 50px;
  width: 50px;
}

.nav-link {
  // border:
  color: #424242;
}

.navbar .logo {
  height: 50px;
  width: 50px;
  margin: 0px;
  padding: 0px;

}
