
<h1 id="pokedex">PokeDex</h1>

<div class="cards-list" >

  <% @pokemons.each do |pokemon|  %>

    <div class="cust-card 1 pokemon">
      <%= link_to pokemon_path(pokemon) do %>
        <div class="card_image" style="background-image: url(<%= pokemon.picture %>)"></div>
        <div class="card_title title-black">
          <p ><%= pokemon.name %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="pagination">
  <%= will_paginate @pokemons, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

