
.choose-btn  {
  width: 50px;
  background-color: #7A8FA5;
  padding: 9px ;
  // padding-left: 14px;
  // padding-right: 13px;
  border-radius: 3px;
  color: white;
  text-decoration: none !important;
  text-align: center;
  width: 90px;

  &:hover {
    color: white;
    background-color: #3A6EA5 ;


  }
}
